p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    /* text-align: right; */
}
.container {
    text-align: center;
    font-size: 25px;
}
body {
    background-color: rgb(200,200,250);
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}