
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:title" content="Personal Portfolio">
      <meta property="og:description" content="My Personal Portfolio">
      <meta property="og:url" content="{{ url }}">
  
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
  
      <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
      <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
      <title>{{ title }}</title>
  </head>
  
  <body>
      <div class="topnav">
          <a href="/">MLH Fellow</a>
          <a href="/about">About Me</a>
          <a href="/projects">Projects</a>
          <a class="active" href="/contact">Contact</a>         
          <div class="topnav-right">
            <a href="https://www.linkedin.com/in/gabriel-escobar-saade-13b8b01a0/" target="_blank"><img src="./static/img/linkedin.png" width= 21 height=20 alt="alternate_text"></a>
            <a href="https://github.com/gabriel-esco" target="_blank"><img src="./static/img/github.png" width=21 height=20 alt="alternate_text"></a>
        </div>
      </div>
  </body>
  
  

<!DOCTYPE html>

<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">
          <div class = "contact_header">
              Contact Me 
          </div>
        </h1>
      </div>
    </header> 

    <div class="container">

  <h3><div class = "contact_header">Feel free to drop me an email!</div></h3>
 
  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.email.errors %}
  <center> <div class="flash" style = "color:firebrick">{{ message }}</div> </center>
  {% endfor %}
 
  {% for message in form.subject.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.message.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}
 
    {{ form.name.label }}
    {{ form.name }}<br>
 
   {{ form.email.label }}
   {{ form.email }}<br>
 
    {{ form.subject.label }}
    {{ form.subject }}<br>
 
    {{ form.message.label }}
   {{ form.message }}<br>
 
    <center>{{ form.submit }}</center><br>
  </form>

</div>

</body>
</html>

