<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>
    <body>
        <div class="topnav">
            <a href="/">MLH Fellow</a>
            <a href="/about">About Me</a>
            <a class="active" href="/projects">Projects</a>
            <a href="/contact">Contact</a>         
            <div class="topnav-right">
                <a href="https://www.linkedin.com" target="_blank"><img src="./static/img/linkedin.png" width=21 height=20 alt="alternate_text"></a>
                <a href="https://github.com/" target="_blank"><img src="./static/img/github.png" width=21 height=20 alt="alternate_text"></a>
            </div>
        </div>
    <div class="projects-content">
        <div style="background-color: purple;"></div>
        <h1>Projects</h1>
        <div class="projectBox">
            <h2>Project 1</h2>
            <h6>
                Project 1 Description</h6>
                
                <span class="codetag">HTML/CSS</span>
                <span class="codetag">JavaScript</span> <br>
        </div>
        <div class="projectBox">
            <h2>Project 2</h2>
            <h6>Project 2 Description</h6> 
                <span class="codetag">Python</span>
                <span class="codetag">Pygame</span>
                <span class="codetag">AI/ML</span><br>
                </a>
        </div>       
        <div class="projectBox">
            <h2>Project 3</h2>
            <h6>Project 3 Description
            </h6> 
            <span class="codetag">HTML/CSS</span>
            <span class="codetag">JavaScript</span>
            <span class="codetag">Java</span> <br>
 
        </div>  
        <div class="projectBox">
            <h2>Project 4</h2>
            <h6>Project 4 Description
            </h6> 
            <span class="codetag">Python</span>
            <span class="codetag">Pygame</span> <br>

        </div>  
        <div class="projectBox">
            <h2>Project 5</h2>
            <h6>
                Project 5 Description
            </h6>
            <span class="codetag">WordPress</span> <br>
            </a>
        </div>
</body>